* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: optima;
}

body {
   background: rgb(2, 0, 36); 
    background: linear-gradient(90deg, rgb(1, 80, 18) 0%, rgb(177, 155, 123) 38%, rgb(214, 218, 6) 100%);
    color: white;
    
}
.header :hover{
    
    background: -webkit-linear-gradient(#077703, #bdca0a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.header {
    color:white ;
    position: fixed;
    font-size: 25px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 4%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    word-spacing: 10px;
    background-image: url(logo.jpg);

    background-repeat: no-repeat;
    background-position: 500px;
    height: 150px;
}
.logo{
    text-align:left;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background: -webkit-linear-gradient(#077703, #bdca0a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#home{
    position: relative;
    width: 100%;
    font-size: 25px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    font-weight: 600;
}
#contact{
    padding: 50px 10%;
    font-size: 25px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #411616;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.tree, .tree ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tree ul {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #0a0808;
}

.tree li {
    margin: 0;
    padding: 10px 5px;
    position: relative;
}

.tree li span {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #ccc;
}

.tree li span:hover {
    background-color: #e9ecef;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
    padding-left: 20px;
}

.active {
    display: block;
}